.contact {
    h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 144.19%;
        letter-spacing: 0.02em;
        color: #141414;
        text-align: center;
    }

    a {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 144.19%;
        letter-spacing: 0.02em;
        color: #141414;
        display: flex;
        justify-content: center;
    }
}